<div class="container">
    <mat-accordion style="display: flex; flex-direction: row; flex-wrap: wrap; padding: 10px;">
        <mat-card   *ngFor="let table of tables" hideToggle 
                    style="width:300px; margin: 10px;" 
                    [style.background]="table.is_free ? 'white':'#FF5252'">
            <mat-card-header>
                <mat-card-title>
                    Table {{table.number}} 
                </mat-card-title>
                <mat-card-subtitle *ngIf="!table.is_free">Waiter: {{getWaiterName(table)}}</mat-card-subtitle>
                <mat-card-subtitle *ngIf="table.is_free">Free</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
                <p>Occupied seats: {{table.occupancy}}</p>
                <p>Total seats: {{table.capacity}}</p>
            </mat-card-content> 
            
            <mat-card-actions *ngIf="role===4">
                <button  *ngIf="table.is_free" style="background-color: #673AB7; color: white;" mat-raised-button (click)="openDialog(table)"> OCCUPY </button>
                <button  *ngIf="!table.is_free" style="background-color: #673AB7; color: white;" mat-raised-button (click)="openDialog(table)"> FREE </button>
            </mat-card-actions>
        </mat-card>
    </mat-accordion>
</div>