<mat-accordion class="example-headers-align">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Create new user</mat-panel-title>
        </mat-expansion-panel-header>
        
        <mat-form-field style="padding-left:10px;" [style.width]="(is_mobile) ? '35vw' : '20vw'">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="name" placeholder="Mario Rossi" required [formControl]="nameControl">
        </mat-form-field>

        <mat-form-field [style.width]="(is_mobile) ? '35vw' : '20vw'">
            <mat-label>Email</mat-label>
            <input [(ngModel)]="email" matInput placeholder="mario@role.RESTaurant.it" type="email" required
                   [formControl]="emailControl">
        </mat-form-field>

        <mat-form-field [style.width]="(is_mobile) ? '35vw' : '20vw'">
            <mat-label>Role</mat-label>
            <mat-select matNativeControl [(ngModel)]="role" required [formControl]="roleControl">
              <mat-option value="0">Admin</mat-option>
              <mat-option value="1">Cashier</mat-option>
              <mat-option value="2">Barman</mat-option>
              <mat-option value="3">Cook</mat-option>
              <mat-option value="4" selected>Waiter</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field [style.width]="(is_mobile) ? '35vw' : '20vw'">
            <mat-label>Password</mat-label>
            <input [(ngModel)]="password" matInput [type]="hide ? 'password' : 'text'" required
                   [formControl]="passwordControl">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>

        <mat-action-row>
            <button mat-stroked-button color="primary" (click)="createUser(name, email, role, password)"
            [disabled]="emailControl.invalid || passwordControl.invalid || nameControl.invalid || roleControl.invalid">
                CREATE
            </button>
        </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel *ngFor="let user of users" >
        <mat-expansion-panel-header>
            <mat-panel-title>{{user.name}}</mat-panel-title>
        </mat-expansion-panel-header>
        
        <mat-form-field style="padding-left:10px;" [style.width]="(is_mobile) ? '35vw' : '20vw'">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="name" placeholder="user.name">
        </mat-form-field>

        <mat-form-field [style.width]="(is_mobile) ? '35vw' : '20vw'">
            <mat-label>Email</mat-label>
            <input [(ngModel)]="email" matInput placeholder="user.email" type="email">
        </mat-form-field>

        <mat-form-field [style.width]="(is_mobile) ? '35vw' : '20vw'">
            <mat-label>Role</mat-label>
            <mat-select matNativeControl [(ngModel)]="role" >
              <mat-option value="" selected></mat-option>
              <mat-option value="0">Admin</mat-option>
              <mat-option value="1">Cashier</mat-option>
              <mat-option value="2">Barman</mat-option>
              <mat-option value="3">Cook</mat-option>
              <mat-option value="4">Waiter</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field [style.width]="(is_mobile) ? '35vw' : '20vw'">
            <mat-label>Password</mat-label>
            <input [(ngModel)]="password" matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>

        <mat-action-row>
            <button mat-stroked-button color="warn" (click)="deleteUser(user._id)">DELETE</button>
            <button mat-stroked-button color="primary" (click)="updateUser(user._id, name, email, role, password)">UPDATE</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>