<p mat-dialog-title>Scontrino</p>

<mat-dialog-content>
    <p>Data: {{receipt.date}}</p>
    <p>Tavoli: {{receipt.tables}}</p>
    <p>Ordine: {{receipt.order}}</p>
    <ul *ngFor="let food of receipt.foods">
        <p>{{food.name}}   {{food.price}}</p>
    </ul>
    <ul *ngFor="let drink of receipt.beverages">
        <p>{{drink.name}}   {{drink.price}}</p>
    </ul>
    <p>Totale: {{receipt.total}}</p>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button (click)="close()">CONFERMA</button>
</mat-dialog-actions>
