<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                WAITERS
            </mat-panel-title>
        </mat-expansion-panel-header>
        <table>
            <tr>
                <td style="width: 50%;"></td>
                <td>
                    <div style="width: 800px;">
                        <canvas id="waiters"></canvas>
                    </div>
                </td>
                <td style="width: 50%;"></td>
            </tr>
        </table>        
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                COOKS
            </mat-panel-title>
        </mat-expansion-panel-header>
        <table>
            <tr>
                <td style="width: 50%;"></td>
                <td>
                    <div style="width: 800px;">
                        <canvas id="cooks"></canvas>
                    </div>
                </td>
                <td style="width: 50%;"></td>
            </tr>
        </table>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                BARMEN
            </mat-panel-title>
        </mat-expansion-panel-header>
        <table>
            <tr>
                <td style="width: 50%;"></td>   
                <td>
                    <div style="width: 800px;">
                        <canvas id="barmen"></canvas>
                    </div>
                </td>
                <td style="width: 50%;"></td>
            </tr>
        </table>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                CASHIERS
            </mat-panel-title>
        </mat-expansion-panel-header>
        <table>
            <tr>
                <td style="width: 50%;"></td>
                <td>
                    <div style="width: 800px;">
                        <canvas id="cashiers"></canvas>
                    </div>
                </td>
                <td style="width: 50%;"></td>
            </tr>
        </table>
    </mat-expansion-panel>
</mat-accordion>