<p> Total profit of the day: {{total_profit}}€</p>
<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                WAITERS
            </mat-panel-title>
        </mat-expansion-panel-header>
        <canvas id="waiters"></canvas>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                COOKS
            </mat-panel-title>
        </mat-expansion-panel-header>
        <canvas id="cooks"></canvas>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                BARMEN
            </mat-panel-title>
        </mat-expansion-panel-header>
        <canvas id="barmen"></canvas>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                CASHIERS
            </mat-panel-title>
        </mat-expansion-panel-header>
        <canvas id="cashiers"></canvas>
    </mat-expansion-panel>
</mat-accordion>